/* Variables */
:root {
  --max-width: 1000px;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --font-sans: Arial, sans-serif;
  --font-serif: Times New Roman, serif;
  --font-mono: Courier New, monospace;

  --bg-0: #fff;
  --fg-0: #000;
}
/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body { height: 100%; width: 100%; }
body {
  margin: 0;
  font: 16px var(--font-sans);
  color: var(--fg-0);
  background: var(--bg-0);
}

/* Sticky footer */
#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#page-header, #page-footer { flex: 0; }
#page-content { flex: 1; }

/* A11y */
#skip-link {
  position: absolute; top: 0; left: 0;
  transition: transform .2s ease-out;
  transform: translateY(-100%);
  width: 100%;
  padding: var(--spacing-md);
  &:focus {
    transform: translateY(0);
  }
  text-align: center;
  background: var(--bg-0);
}

/* Layout */
.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-0 { flex: 0; }

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing-md);
}

#page-header, #page-footer {
  &, select {
    font-family: var(--font-mono);
  }

  ul { padding: 0; }
  a, a:visited {
    color: var(--fg-0);
    text-decoration: none;
  }
}
#page-header {
  ul li:not(:first-child) { margin-left: var(--spacing-md); }
}
#page-footer {
  ul li:not(:first-child) { margin-top: var(--spacing-sm); }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}

ul, ol {
  &.unstyled { list-style: none; margin: 0; padding: 0; }
}

code, pre {
  font-family: var(--font-mono);
}
